<!-- Importando partial Header -->
<%- include('partials/header.ejs') %>
<body>
    <!-- Importando partial Navibar -->
    <%- include('partials/navbar.ejs') %>

    <div class="container" id="formulario-pergunta">
        <!-- Content here -->
        <body>
        
            <h1>Olá estou na Home</h1>
            <a href="/perguntas">Ir para perguntas</a>
            
        </body>
        
    </div>
</body>
<!-- Importando partial Footer -->
<%- include('partials/footer.ejs') %>

