<!-- Importando partial Header -->
<%- include('partials/header.ejs') %>
<body>
    <!-- Importando partial Navibar -->
    <%- include('partials/navbar.ejs') %>

    <div class="container" id="formulario-pergunta">
        <!-- Content here -->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Realizar Pergunta</h5>

                <form action="/salvarPergunta" method="post">
                    <div class="form-group">
                        <label>Título da pergunta</label>
                        <input
                            type="text"
                            placeholder="Título da pergunta"
                            name="titulo"
                            class="form-control"
                            required
                        />
                    </div>
                    <div class="form-group">
                        <label>Descrição</label>
                        <textarea
                            placeholder="Faça sua pergunta aqui"
                            name="descricao"
                            class="form-control"
                            required
                        ></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">
                        Fazer pergunta
                    </button>
                </form>
            </div>
        </div>
    </div>
</body>
<!-- Importando partial Footer -->
<%- include('partials/footer.ejs') %>
